div{
    position:absolute;left:15%; top:15%;
}
h1{
    text-align: center;
    color: darkmagenta !important;
    font-size:4.2em !important;
    font-weight:700!important;
    font-family: 'Varela Round', sans-serif !important;
}